ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #9209c1;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: #ed00b1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #9209c1;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


.navbar li {
  float: left;
}


.navbar li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
}

.container {
  display: flex;
  flex-direction: row;
}






body{
  background-color: #9209c1;
}

h1{
  color: #ed00b1;
}
h2{
  color: #ff914d;
}

.container img {
 
  object-fit: cover;
  object-position: center; /* Optional: centers the crop area */
  border-color:  #ff914d; 
  border-style:solid ;
  border-width: 10px;
  border-radius: 8px;
  width: 50%
}

p{
  font-size: 150%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1{
  font-size: 500%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2{
  font-size: 500%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.navbar{
  font-size: 150%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

div {
  padding-top: 0px;
  padding-right: 200px;
  padding-bottom: 50px;
  padding-left: 0px;
}

.navbar img{
  width: 50px;
}