ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #9209c1;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: #ed00b1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #9209c1;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


.navbar li {
  float: left;
}


.navbar li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
}

img {
  width: 40%
}
.container {
  display: flex;
  flex-direction: row;
}

img {
  border-radius: 8px;
}

img{ 
 border-style:solid ;
 border-width: 10px;
}

img{
  border-color:  #ff914d; 
}

body{
  background-color: #9209c1;
}

h1{
  color: #ed00b1;
}
h2{
  color: #ff914d;
}

img {
  width: 400px;
  height: 250px;
  object-fit: cover;
  object-position: center; /* Optional: centers the crop area */
}

p{
  font-size: large;
  font-family: copperplate;
}
h1{
  font-size: 500%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2{
  font-size: 500%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}